<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.core.dao.Operation.IUserDaoOperation">
	<!-- 返回list 的select 语句，注意 resultMap 的值是指向前面定义好的 -->
	<!-- <resultMap type="SysUser" id="ListSysUser"> <id column="id" property="id" 
		/> <result column="userName" property="userName" /> <result column="email" 
		property="email" /> <result column="userPassword" property="userPassword" 
		/> <result column="nickName" property="nickName" /> </resultMap> -->

	<select id="getSysUserByEmail" parameterType="String"
		resultType="SysUser">
		select * from SysUser where email = #{email}
	</select>

	<select id="getSysUserByUserName" parameterType="String"
		resultType="SysUserEx">
		select * from SysUser where userName = #{userName}
	</select>

	<update id="updateSysUser" parameterType="SysUser">
		UPDATE EmployeeInformation
		SET
		<if test="nickName !=	null">nickName=#{nickName}</if>
		<if test="email !=	null">email=#{email}</if>
		<if test="userAddress !=	null">userIconUrl=#{userAddress}</if>
		<where>
			<if test="id !=	null">id=#{id}</if>
			<if test="userName !=	null">and userName=#{userName}</if>
			<if test="userPassword !=	null">and userPassword=#{userPassword}</if>
		</where>
	</update>

</mapper>
